@use "../utilities/variables" as *;
@use "../sass-utils/mixins" as *;

@font-face {
  font-family: "Epilogue";
  src: url("../../font/Epilogue-Regular.ttf") format("truetype");
}

body {
  font-size: 10px;
  font-weight: 400;
  color: $text-dark-gray;
  font-family: "Epilogue";
}

h1 {
  @include typo(800, 72px, 80px);
}

h2 {
  @include typo(800, 56px, 64px);
}

h3 {
  @include typo(800, 40px, 48px);
}

h4 {
  @include typo(800, 24px, 32px);
}

h5 {
  @include typo(400, 16px, 32px);
}
