@use "../utilities/variables" as *;
@use "../sass-utils/mixins" as *;

@font-face {
  font-family: "Epilogue";
  src: url("../../font/Epilogue-Regular.ttf") format("truetype");
}

body {
  font-size: 10px;
  font-weight: 400;
  color: $text-dark-gray;
  font-family: "Epilogue";
}
