@use "../utilities/variables" as *;
@use "../sass-utils/mixins" as *;

@font-face {
  font-family: "Epilogue";
  src: url("../../font/Epilogue-VariableFont_wght.ttf");
}

body {
  font-size: 10px;
  font-weight: 400;
  color: $text-dark-gray;
  font-family: "Epilogue", sans-serif;
}

h1 {
  @include typo(800, 72px, 80px, $text-dark);
}

h2 {
  @include typo(800, 56px, 64px, $text-dark);
}

h3 {
  @include typo(800, 40px, 48px, $text-dark);
}

h4 {
  @include typo(800, 24px, 32px, $text-dark);
}

h5 {
  @include typo(400, 16px, 32px, $text-dark-accent);
}

p {
  @include typo(400, 16px, 32px, $text-dark-gray);
}

span {
  @include typo(400, 16px, 32px, $text-dark);
}
