#main {
  background-color: #302F4D;

  #main .work .filter-items .col-5 {
    width: 40.666667%;
  }

  #main .work .filter-items .col-7 {
    width: 58.14%;
  }

  .container {
    max-width: 1176px;
    width: 100%;
    margin: 0 auto;
  }

  span {
    color: $default;
  }

  p {
    color: $default;
  }

  .work {
    padding-block: 92px;

    .navigation {
      text-align: center;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.295743);
      border-radius: 6px;
      font-weight: bolder;
      width: 170px;
      height: 40px;
      margin: 20px auto;
      line-height: 40px;

      a {
        text-decoration: none;
        color: #FFFFFF;
      }
    }

    p {
      color: #EF6D58;
      text-align: center;
    }

    h2 {
      font-weight: 800;
      font-size: 56px;
      line-height: 64px;
      text-align: center;
      letter-spacing: -1px;
      color: #FFFFFF;
      margin-block: 30px;
    }

    .filter {

      nav {
        width: 100%;
        flex: 0 0 auto;
        margin-block: 50px;
      }

      ul {
        list-style-type: none;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        position: relative;

        li {
          margin: 0px 40px;
          font-weight: 300;
          font-size: 14px;
          line-height: 60px;
          opacity: .7;

          span {
            position: absolute;
            top: -10px;
            color: $default;
          }
        }
      }


    }

    .filter-items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 20px;

      .img-fluid {
        max-width: 100%;
        height: auto;
      }

      .col-5 {
        flex: 0 0 auto;
        width: 40.666667%;
        position: relative;
      }

      .col-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
        position: relative;
      }

      .col-12 {
        flex: 0 0 auto;
        width: 100%;
        position: relative;
      }


      .text {
        position: absolute;
        bottom: 50px;
        left: 50px;

        p {
          width: 70px;
          height: 30px;
          border-radius: 19px;
          line-height: 30px;
          background-color: #FFFFFF;
          color: black;
          font-size: 13px;
        }

        h3 {
          font-size: 40px;
          color: #FFFFFF;
          margin-top: 10px;
        }
      }

    }

  }

  .contact {
    background: #FDF0E9;
    border-radius: 6px;
    display: flex;
    padding: 80px;

    .star {
      position: absolute;
      left: 0px;
      top: -160px;
    }

    .shape {
      position: absolute;
      left: 57px;
      top: -106px;
    }

    .img-fluid {
      max-width: 100%;
      height: auto;
    }

    .col-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
      position: relative;

      .girl {
        position: absolute;
        bottom: -80px;
        right: 45px;
      }

      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        text-transform: uppercase;
        color: #EF6D58;
      }

      h3 {
        margin-block: 24px;
        font-weight: 700;
        font-size: 24px;
        color: #391400;
      }

      button {
        background: #EF6D58;
        border-radius: 6px;
        padding: 14px 24px;
        border: none;
        font-weight: 700;
        color: white;
      }
    }
  }

  .event {
    padding-block: 100px;

    .event-text {
      color: #EF6D58;
      text-align: center;
    }

    h2 {
      font-weight: 800;
      width: 700px;
      margin: auto;
      font-size: 56px;
      line-height: 64px;
      text-align: center;
      letter-spacing: -1px;
      color: #FFFFFF;
      margin-block: 30px;
    }

    .row {
      display: flex;
      justify-content: space-between;
      column-gap: 30px;

      .col-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
        border: 1px solid #3A3C56;
        border-radius: 6px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        column-gap: 10px;

        .date {
          .time {
            margin-block: 20px;
          }

          .number {
            font-weight: 800;
            font-size: 72px;
            line-height: 80px;
            letter-spacing: -2px;
          }

          .month {
            font-weight: 700;
            font-size: 24px;
            width: 24px;
            margin-left: 10px;
            display: inline-block;
          }

          hr {
            border: 1px solid #3A3C56;
          }
        }

        .text {
          p {
            margin-block: 40px;
          }

          :first-child {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
          }
        }


      }

    }

    .navigation {
      text-align: center;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.295743);
      border-radius: 6px;
      font-weight: bolder;
      width: 170px;
      height: 40px;
      margin: 20px auto;
      line-height: 40px;

      a {
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }

  .team {
    padding-block: 100px;

    p {
      color: #EF6D58;
    }

    h2 {
      font-weight: 800;
      font-size: 56px;
      line-height: 64px;
      letter-spacing: -1px;
      color: #FFFFFF;
      margin-block: 30px;
    }

    .row {
      display: flex;
      justify-content: space-between;

      .col-6 {
        flex: 0 0 auto;
        width: 50%;
      }

      .col-2 {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;

        .round {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.295743);
          line-height: 40px;
          display: flex;
          margin-right: 20px;

          i {
            margin-left: 13px;
          }
        }
      }

      .col-3 {
        flex: 0 0 auto;
        width: 23%;

        .img-wrapper {
          margin-bottom: 20px;

          img {
            border: 1px solid rgba(102, 100, 100, 0.296);
          }
        }

        .text {
          h3 {
            font-weight: 700;
            font-size: 20px;
            line-height: 32px;
            color: #FFFFFF;
          }

          p {
            color: white;
            opacity: .5;
          }
        }
      }
    }

  }

  .founder {
    padding-block: 60px;

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .col-5 {
        flex: 0 0 auto;
        width: 40.666667%;

        :last-child {
          font-weight: 400;
          font-size: 10px;
          color: rgba(255, 255, 255, 0.64);

        }

        span {
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #EF6D58;
        }

        h2 {
          font-weight: 800;
          font-size: 40px;
          color: #FFFFFF;
          margin-block: 40px;
        }

        p {
          font-weight: 400;
          font-size: 20px;
          color: #FFFFFF;

        }
      }

    }
  }
}

@media (max-width: 1200px) {
  #main {
    display: none;
  }
}


@media (max-width: 576px) {
  //.col-md-5 {
  //    flex: 0 0 auto;
  //    width: 41.66666667%;
  //}
  //
  //.col-md-7 {
  //    flex: 0 0 auto;
  //    width: 58.33333333%;
  //}
  //
  //.col-md-12 {
  //    flex: 0 0 auto;
  //    width: 100%;
  //}

  #main .work .filter-items .col-5 {
    width: 99.666667%;
  }

  #main .work .filter-items .col-7 {
    width: 100.333333%;
  }

  #main .contact .img-fluid {
    max-width: initial;
  }

  #main .contact {
    padding: 92px 28px;
  }

  #main .contact .col-4 {
    width: 103.333333%;
  }

  #main .event .row .col-4 {
    width: 97.333333%;
  }

  #main .event .row {
    flex-direction: column;
  }

  #main .team .row {
    flex-direction: column;
  }

  #main .contact .img-fluid {
    display: none;
  }

  #main .event h2 {
    width: 100px;
    margin: 0;
    font-size: 48px;
  }

  #main .founder {
    display: none;
  }

  #main {
    display: none;
  }
}
