@mixin button($border-size, $back-color, $text-color, $padding-size) {
  border-radius: $border-size;
  background-color: $back-color;
  color: $text-color;
  padding: $padding-size;
}
<<<<<<< HEAD
=======

@mixin text($size, $weight, $height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}
>>>>>>> 668b43ff8adbe825d0ccbb48115758698e6c020b
