.btn {
  @include button(
    6px,
    $default,
    $text-dark,
    18px 34px,
    900,
    14px,
    14px,
    uppercase
  );
}

.btn-primary {
  @include button(
    6px,
    $text-dark-accent,
    $default,
    18px 34px,
    900,
    14px,
    14px,
    uppercase
  );
}

.btn-primary {
  @include button(
    6px,
    $text-dark-accent,
    $default,
    18px 34px,
    900,
    14px,
    14px,
    uppercase
  );
}

.btn-popular {
  @include button(
    19px,
    $text-dark-accent,
    $default,
    4px 17px,
    400,
    16px,
    32px,
    capitalize
  );
}

.btn-icon {
  @include icon(16px, 16px, $default);
}

.btn-default-icon {
  @include icon(16px, 16px, $text-dark-accent);
}

.btn-deactice-icon {
  @include icon(16px, 16px, $deactive-button);
}

.btn-primary-icon {
  @include icon(32px, 32px, $text-dark-accent);
}

.btn-secondary-icon {
  @include icon(64px, 64px, $text-dark-accent);
}

.input-primary {
  padding: 17px 0 17px 18px;
  background: $default;
  border: 1px solid $border-color;
  border-radius: 6px;
  width: 100%;
}
